@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;900&display=swap");

.navbar_container {
  font-family: "Orbitron";
  display: flex;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: black;
}

.navbar_container .right {
  width: 70%;
  height: 100%;
  background-color: yellow;
  display: flex;
  justify-content: end;
  padding-right: 20px;
  align-items: center;
  font-size: 15px;
  font-weight: 800;
}

.navbar_container .right ul {
  gap: 40px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.navbar_container .left {
  width: 30%;
  height: 100%;
  display: flex;
  background-color: rgb(231, 231, 231);
  color: black;
  align-items: center;
  padding-left: 20px;
}

.contact {
  font-family: "Orbitron";
  color: white;
  border-radius: 5px;
  background-color: black;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 375px) {
  .left h1 {
    font-size: 13px;
  }

  .right ul li {
    font-size: 8px;
  }

  .navbar_container .right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
  }

  .navbar_container .right button {
    display: none;
  }
}

@media (max-width: 759px) {
  .left h1 {
    font-size: 15px;
  }

  .right ul li {
    font-size: 10px;
  }

  .navbar_container .right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
  }

  .navbar_container .right .contact {
    display: none;
  }
}
